{
  "openapi": "3.1.0",
  "info": {
    "title": "Strata Public API",
    "version": "1.0.0",
    "description": "Public API for Strata Mining Tools (celd.space). Provides ore discovery, location ranking, craftable item, and crafting-cost data derived from Star Citizen game extractions.\n\nThe API is key-gated (every endpoint requires a Bearer key). This reference and the spec downloads are public; get a key at https://strata.celd.space/api-keys. Keys are self-service and require Discord login, a verified email, and your real name on file.\n\nRate limit: 120 requests per 60 seconds per key. Please credit \"data from celd.space\" when surfacing this data publicly.\n\nThe underlying data only changes when Star Citizen ships a new patch (game-data is re-extracted then). Cache responses and refresh infrequently rather than polling; you will rarely approach the rate limit.",
    "contact": {
      "name": "Strata Mining Tools",
      "url": "https://strata.celd.space"
    }
  },
  "servers": [
    {
      "url": "https://strata.celd.space",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "celd key",
        "description": "A Strata API key in the form `celd_<key>`. Obtain one at https://strata.celd.space/api-keys."
      }
    },
    "schemas": {
      "Ore": {
        "type": "object",
        "required": ["id", "name", "slug"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Canonical ore identifier. Use this as the `{ore}` parameter in /ore-locations/{ore}. Stable across game patches.",
            "example": "iron_ore"
          },
          "name": {
            "type": "string",
            "description": "Display name of the ore as shown in the Strata UI.",
            "example": "Iron (Ore)"
          },
          "slug": {
            "type": "string",
            "description": "Best-effort name slug (lowercase, no parenthetical suffixes). A handful of slugs collide across ores; prefer the canonical id when precision matters.",
            "example": "iron"
          },
          "tier": {
            "type": ["integer", "null"],
            "description": "Ore tier grouping from the game data. Null when not classified.",
            "example": 3
          },
          "category": {
            "type": ["string", "null"],
            "description": "Ore category (e.g. \"ship\", \"fps\"). Differentiates surface/FPS ores from ship-mining ores.",
            "example": "ship"
          },
          "scanSignature": {
            "type": ["integer", "null"],
            "description": "Scan signature value used in the Strata signatures chart. Higher values are detected at longer range.",
            "example": 2500
          },
          "instability": {
            "type": ["number", "null"],
            "description": "Instability rating (0.0 to 1.0). 0 is valid data (not missing); use null-check, not truthiness. Higher values mean more dangerous extraction.",
            "example": 0.25
          },
          "resistance": {
            "type": ["number", "null"],
            "description": "Rock resistance rating (0.0 to 1.0). Higher means harder to break.",
            "example": 0.1
          }
        }
      },
      "OresResponse": {
        "type": "object",
        "required": ["ores", "count", "attribution"],
        "properties": {
          "ores": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Ore" },
            "description": "All minable ores, sorted alphabetically by name."
          },
          "count": {
            "type": "integer",
            "description": "Total number of ores in the array.",
            "example": 38
          },
          "attribution": {
            "type": "string",
            "description": "Attribution string. Please include in any public display.",
            "example": "Data from celd.space / Strata Mining Tools"
          }
        }
      },
      "Location": {
        "type": "object",
        "required": ["id", "name", "slug", "system", "type"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Canonical location identifier. Use this as the `{location}` parameter in /location-ores/{location}. Stable across game patches for named locations.",
            "example": "ita_01"
          },
          "name": {
            "type": "string",
            "description": "Display name of the location.",
            "example": "Ita Belt Alpha"
          },
          "slug": {
            "type": "string",
            "description": "Best-effort name slug. Prefer the canonical id for unambiguous lookups.",
            "example": "ita-belt-alpha"
          },
          "system": {
            "type": "string",
            "description": "Star system. Open string (new systems are added over time). Examples: Stanton, Pyro, Nyx.",
            "example": "Pyro"
          },
          "type": {
            "type": "string",
            "description": "Location type from the game data (e.g. belt, moon, dungeon, planet, lagrange_point).",
            "example": "belt"
          }
        }
      },
      "LocationsResponse": {
        "type": "object",
        "required": ["locations", "count", "attribution"],
        "properties": {
          "locations": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Location" },
            "description": "All mineable locations (those with at least one ore spawn), sorted alphabetically by name. Aggregate placeholder rows are excluded."
          },
          "count": {
            "type": "integer",
            "description": "Total number of locations in the array.",
            "example": 120
          },
          "attribution": {
            "type": "string",
            "description": "Attribution string. Please include in any public display.",
            "example": "Data from celd.space / Strata Mining Tools"
          }
        }
      },
      "LocationRow": {
        "type": "object",
        "required": [
          "locationId",
          "location",
          "system",
          "rankPct",
          "rank",
          "n",
          "concentration",
          "tier",
          "tierName"
        ],
        "properties": {
          "locationId": {
            "type": "string",
            "description": "Canonical location identifier. Stable across game patches for named locations.",
            "example": "ita_01"
          },
          "location": {
            "type": "string",
            "description": "Display name of the location.",
            "example": "Ita Belt Alpha"
          },
          "system": {
            "type": "string",
            "description": "Star system. Open string (new systems are added over time). Examples: Stanton, Pyro, Nyx.",
            "example": "Pyro"
          },
          "rankPct": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "description": "0-100. How much of this ore is at this location relative to other locations in the same group. 100 = the top-ranked location. Only comparable within a group.",
            "example": 100
          },
          "rank": {
            "type": "integer",
            "minimum": 1,
            "description": "Competition rank within the group (1 = best). Ties receive the same rank.",
            "example": 1
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "description": "Total number of locations in this group that have any spawn of this ore. Useful for normalizing rank.",
            "example": 47
          },
          "concentration": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "description": "This ore's share of the total mining presence at this location (0.0 to 1.0, 4 decimal places). Measures what fraction of rocks here contain this ore. This is an absolute value, not a percentile or cross-location rank -- a concentration of 0.30 at an asteroid field and a concentration of 0.30 on a moon surface are directly comparable.",
            "example": 0.31
          },
          "tier": {
            "type": "integer",
            "minimum": 0,
            "maximum": 6,
            "description": "Concentration tier based on absolute thresholds applied to the concentration value (0 = None, 1 = Negligible, 2 = Trace, 3 = Minor, 4 = Notable, 5 = Major, 6 = Pure). These tiers are absolute bands, not percentiles -- the same thresholds apply across all location types. Tiers are directly comparable across space, surface, cave, and exploration groups.",
            "example": 6
          },
          "tierName": {
            "type": "string",
            "enum": ["None", "Negligible", "Trace", "Minor", "Notable", "Major", "Pure"],
            "description": "Human-readable tier label corresponding to the tier integer. Fixed enum: None (0), Negligible (1), Trace (2), Minor (3), Notable (4), Major (5), Pure (6). Tier 0 None appears in tierLegend but is never returned in a location row.",
            "example": "Pure"
          }
        }
      },
      "OreLocationsResponse": {
        "type": "object",
        "required": ["ore", "sort", "tierLegend", "results", "attribution"],
        "properties": {
          "ore": {
            "type": "object",
            "required": ["id", "name"],
            "properties": {
              "id": {
                "type": "string",
                "description": "Canonical ore id from game data. Use this as your key for subsequent requests.",
                "example": "beryl_raw"
              },
              "name": {
                "type": "string",
                "description": "Display name of the ore.",
                "example": "Beryl (Raw)"
              }
            }
          },
          "sort": {
            "type": "string",
            "enum": ["rank", "concentration"],
            "description": "The sort order applied to the results arrays. Echoes the request query param.",
            "example": "rank"
          },
          "tierLegend": {
            "type": "object",
            "description": "Maps tier integer (as string key) to tier name. Keys 0-6; tier values in results range 1-6 (tier 0 None exists in the legend but is never returned in a location row).",
            "properties": {
              "0": { "type": "string", "example": "None" },
              "1": { "type": "string", "example": "Negligible" },
              "2": { "type": "string", "example": "Trace" },
              "3": { "type": "string", "example": "Minor" },
              "4": { "type": "string", "example": "Notable" },
              "5": { "type": "string", "example": "Major" },
              "6": { "type": "string", "example": "Pure" }
            },
            "example": {
              "0": "None",
              "1": "Negligible",
              "2": "Trace",
              "3": "Minor",
              "4": "Notable",
              "5": "Major",
              "6": "Pure"
            }
          },
          "results": {
            "type": "object",
            "required": ["space", "surface", "cave", "exploration"],
            "description": "Location rows grouped by environment type. Any group may be an empty array if this ore has no spawns there. Do not compare rankPct across groups.",
            "properties": {
              "space": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/LocationRow" },
                "description": "Asteroid fields, belts, asteroid clusters, Lagrange stations, and other non-surface non-dungeon locations."
              },
              "surface": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/LocationRow" },
                "description": "Planet and moon surfaces (surface spawns, ROC mining)."
              },
              "cave": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/LocationRow" },
                "description": "FPS dungeon mining locations."
              },
              "exploration": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/LocationRow" },
                "description": "Large exploration regions (Aaron Halo, Glaciem Ring, Keeger Belt). These use a density-scale ranking formula and are ranked against each other only, not against space or surface locations."
              }
            }
          },
          "attribution": {
            "type": "string",
            "description": "Attribution string. Please include in any public display.",
            "example": "Data from celd.space / Strata Mining Tools"
          }
        }
      },
      "OreRow": {
        "type": "object",
        "required": ["oreId", "name", "concentration", "tier", "tierName"],
        "properties": {
          "oreId": {
            "type": "string",
            "description": "Canonical ore identifier. Use this as the {ore} parameter in /ore-locations/{ore}.",
            "example": "iron_ore"
          },
          "name": {
            "type": "string",
            "description": "Display name of the ore.",
            "example": "Iron (Ore)"
          },
          "concentration": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "description": "This ore's share of the total mining presence at this location (0.0 to 1.0, 4 decimal places). Measures what fraction of rocks here contain this ore. This is an absolute value -- directly comparable across location types. A concentration of 0.30 at an asteroid field means the same thing as 0.30 on a moon surface.",
            "example": 0.3511
          },
          "tier": {
            "type": "integer",
            "minimum": 1,
            "maximum": 6,
            "description": "Concentration tier based on absolute thresholds applied to the concentration value. These tiers are absolute bands (not percentiles) and are directly comparable across location types: None (0), Negligible (1), Trace (2), Minor (3), Notable (4), Major (5), Pure (6).",
            "example": 6
          },
          "tierName": {
            "type": "string",
            "enum": ["None", "Negligible", "Trace", "Minor", "Notable", "Major", "Pure"],
            "description": "Human-readable tier label. Fixed enum values: None (0), Negligible (1), Trace (2), Minor (3), Notable (4), Major (5), Pure (6).",
            "example": "Pure"
          },
          "scanSignature": {
            "type": ["integer", "null"],
            "description": "Scan signature value from the game data. Useful for identifying this ore on the scanner.",
            "example": 2500
          }
        }
      },
      "LocationOresResponse": {
        "type": "object",
        "required": ["location", "ores", "count", "attribution"],
        "properties": {
          "location": {
            "type": "object",
            "required": ["id", "name", "system", "type"],
            "properties": {
              "id": {
                "type": "string",
                "description": "Canonical location id.",
                "example": "ita_01"
              },
              "name": {
                "type": "string",
                "description": "Display name of the location.",
                "example": "Ita Belt Alpha"
              },
              "system": {
                "type": "string",
                "description": "Star system the location belongs to.",
                "example": "Pyro"
              },
              "type": {
                "type": "string",
                "description": "Location type from the game data.",
                "example": "belt"
              }
            }
          },
          "ores": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/OreRow" },
            "description": "All ores present at this location, sorted by concentration descending."
          },
          "count": {
            "type": "integer",
            "description": "Total number of ores in the array.",
            "example": 8
          },
          "attribution": {
            "type": "string",
            "description": "Attribution string. Please include in any public display.",
            "example": "Data from celd.space / Strata Mining Tools"
          }
        }
      },
      "Item": {
        "type": "object",
        "required": ["id", "name", "slug", "category"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Canonical item identifier (entity GUID from game data). Use this as the {item} parameter in /craft-cost/{item}. More reliable than slug -- slug collisions are expected across hundreds of items.",
            "example": "akimbo_s01_white"
          },
          "name": {
            "type": "string",
            "description": "Display name of the item.",
            "example": "Akimbo SMG (White)"
          },
          "slug": {
            "type": "string",
            "description": "Best-effort name slug (lowercase, hyphens). Collisions are expected across this catalog; use id for unambiguous lookups.",
            "example": "akimbo-smg-white"
          },
          "category": {
            "type": "string",
            "description": "Item category label (e.g. Ship Components, FPS Weapons, FPS Armor).",
            "example": "FPS Weapons"
          }
        }
      },
      "ItemsResponse": {
        "type": "object",
        "required": ["items", "count", "attribution"],
        "properties": {
          "items": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Item" },
            "description": "All craftable items, sorted alphabetically by name."
          },
          "count": {
            "type": "integer",
            "description": "Total number of craftable items in the array.",
            "example": 516
          },
          "attribution": {
            "type": "string",
            "description": "Attribution string. Please include in any public display.",
            "example": "Data from celd.space / Strata Mining Tools"
          }
        }
      },
      "Cost": {
        "type": "object",
        "required": ["material", "oreId", "quantity", "unit"],
        "properties": {
          "material": {
            "type": "string",
            "description": "Display name of the required ore or material.",
            "example": "Iron (Ore)"
          },
          "oreId": {
            "type": "string",
            "description": "Canonical ore id. Use this to look up additional ore data via /ores or /ore-locations/{ore}.",
            "example": "iron_ore"
          },
          "quantity": {
            "type": "number",
            "description": "Amount required. Unit depends on the ore category.",
            "example": 3.0
          },
          "unit": {
            "type": "string",
            "enum": ["SCU", "gems"],
            "description": "Unit for the quantity field. SCU for ship-mining ores. gems for FPS and ground-vehicle ores (item count, not SCU -- 1000 gems = 1 SCU). Never compare gem quantities to SCU quantities without converting.",
            "example": "SCU"
          },
          "minQuality": {
            "type": ["number", "null"],
            "description": "Minimum ore quality required (0-1000 scale). Null when no minimum is specified.",
            "example": null
          }
        }
      },
      "CraftCostResponse": {
        "type": "object",
        "required": ["item", "costs", "attribution"],
        "properties": {
          "item": {
            "type": "object",
            "required": ["id", "name", "category"],
            "properties": {
              "id": {
                "type": "string",
                "description": "Canonical item entity id.",
                "example": "akimbo_s01_white"
              },
              "name": {
                "type": "string",
                "description": "Display name of the item.",
                "example": "Akimbo SMG (White)"
              },
              "category": {
                "type": "string",
                "description": "Item category label.",
                "example": "FPS Weapons"
              }
            }
          },
          "craftTime": {
            "type": ["number", "null"],
            "description": "Craft time in seconds. Null when not specified in the game data.",
            "example": 300
          },
          "costs": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Cost" },
            "description": "List of materials required to craft this item."
          },
          "attribution": {
            "type": "string",
            "description": "Attribution string. Please include in any public display.",
            "example": "Data from celd.space / Strata Mining Tools"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "string",
            "description": "Human-readable error message.",
            "example": "Unknown ore"
          },
          "hint": {
            "type": "string",
            "description": "Optional additional guidance (present on 404 responses).",
            "example": "Use an ore id (e.g. \"beryl_raw\") or a name slug (e.g. \"beryl\")."
          }
        }
      }
    }
  },
  "paths": {
    "/api/public/ores": {
      "get": {
        "operationId": "getOres",
        "summary": "List all ores",
        "description": "Returns all minable ores with full metadata, sorted alphabetically by name. Use the returned `id` values as the `{ore}` parameter in `/api/public/ore-locations/{ore}`.\n\nThis is the discovery endpoint. Call it once (or once per patch cycle) and cache the result. The ore list only changes when Star Citizen ships a new game patch.",
        "tags": ["Ore family"],
        "security": [
          { "bearerAuth": [] }
        ],
        "responses": {
          "200": {
            "description": "Ore list retrieved successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OresResponse" },
                "example": {
                  "ores": [
                    { "id": "beryl_raw", "name": "Beryl (Raw)", "slug": "beryl", "tier": 3, "category": "ship", "scanSignature": 1350, "instability": 0.05, "resistance": 0.1 },
                    { "id": "iron_ore",  "name": "Iron (Ore)",  "slug": "iron", "tier": 1, "category": "ship", "scanSignature": 800, "instability": 0, "resistance": 0.05 },
                    { "id": "quantainium_raw", "name": "Quantainium (Raw)", "slug": "quantainium", "tier": 6, "category": "ship", "scanSignature": 3850, "instability": 0.95, "resistance": 0.2 }
                  ],
                  "count": 38,
                  "attribution": "Data from celd.space / Strata Mining Tools"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "missing": {
                    "summary": "No key provided",
                    "value": { "error": "Missing API key. Send: Authorization: Bearer <key>" }
                  },
                  "invalid": {
                    "summary": "Key revoked or does not exist",
                    "value": { "error": "Invalid or revoked API key" }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Check the `Retry-After` response header (value in seconds) before retrying.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": { "type": "integer", "example": 42 }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "error": "Rate limit exceeded (120/60s)" }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "error": "Internal error" }
              }
            }
          }
        }
      }
    },
    "/api/public/ore-locations/{ore}": {
      "get": {
        "operationId": "getOreLocations",
        "summary": "Get ore locations",
        "description": "Returns ore abundance and ranking data for a single ore, grouped by location type (space, surface, cave, exploration). Results within each group are sorted by the requested `sort` parameter.\n\nThe `{ore}` parameter accepts either a canonical ore id (e.g. `beryl_raw`) or a name slug (e.g. `beryl`). Prefer canonical ids; name slugs are best-effort and a handful of ore names slug-collide.",
        "tags": ["Ore family"],
        "security": [
          { "bearerAuth": [] }
        ],
        "parameters": [
          {
            "name": "ore",
            "in": "path",
            "required": true,
            "description": "Ore identifier. Either a canonical ore id (e.g. `beryl_raw`, `iron_ore`) or a name slug (e.g. `beryl`, `iron`). Canonical ids are exact-match and always unambiguous. Name slugs strip `(Raw)` / `(Ore)` suffixes and lowercase before matching.",
            "schema": {
              "type": "string",
              "example": "beryl_raw"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort order for location rows within each group. `rank` sorts by `rankPct` descending (highest abundance first). `concentration` sorts by the fraction of rocks at each location that contain this ore.",
            "schema": {
              "type": "string",
              "enum": ["rank", "concentration"],
              "default": "rank"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ore location data retrieved successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OreLocationsResponse" },
                "example": {
                  "ore": { "id": "beryl_raw", "name": "Beryl (Raw)" },
                  "sort": "rank",
                  "tierLegend": {
                    "0": "None",
                    "1": "Negligible",
                    "2": "Trace",
                    "3": "Minor",
                    "4": "Notable",
                    "5": "Major",
                    "6": "Pure"
                  },
                  "results": {
                    "space": [
                      {
                        "locationId": "ita_01",
                        "location": "Ita Belt Alpha",
                        "system": "Pyro",
                        "rankPct": 100,
                        "rank": 1,
                        "n": 47,
                        "concentration": 0.31,
                        "tier": 6,
                        "tierName": "Pure"
                      }
                    ],
                    "surface": [],
                    "cave": [],
                    "exploration": [
                      {
                        "locationId": "aaron_halo",
                        "location": "Aaron Halo",
                        "system": "Stanton",
                        "rankPct": 100,
                        "rank": 1,
                        "n": 3,
                        "concentration": 0.08,
                        "tier": 4,
                        "tierName": "Notable"
                      }
                    ]
                  },
                  "attribution": "Data from celd.space / Strata Mining Tools"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "missing": {
                    "summary": "No key provided",
                    "value": { "error": "Missing API key. Send: Authorization: Bearer <key>" }
                  },
                  "invalid": {
                    "summary": "Key revoked or does not exist",
                    "value": { "error": "Invalid or revoked API key" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Ore not found. The `{ore}` parameter did not match any known ore id or name slug.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "error": "Unknown ore",
                  "hint": "Use an ore id (e.g. \"beryl_raw\") or a name slug (e.g. \"beryl\")."
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Check the `Retry-After` response header (value in seconds) before retrying.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": { "type": "integer", "example": 42 }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "error": "Rate limit exceeded (120/60s)" }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "error": "Internal error" }
              }
            }
          }
        }
      }
    },
    "/api/public/locations": {
      "get": {
        "operationId": "getLocations",
        "summary": "List all mineable locations",
        "description": "Returns all locations that have at least one ore spawn, sorted alphabetically by name. Aggregate placeholder rows are excluded. Use the returned `id` values as the `{location}` parameter in `/api/public/location-ores/{location}`.\n\nThis is the discovery endpoint for the location family. Cache it; it only changes on new game patches.",
        "tags": ["Location family"],
        "security": [
          { "bearerAuth": [] }
        ],
        "responses": {
          "200": {
            "description": "Location list retrieved successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LocationsResponse" },
                "example": {
                  "locations": [
                    { "id": "aaron_halo", "name": "Aaron Halo", "slug": "aaron-halo", "system": "Stanton", "type": "exploration_region" },
                    { "id": "ita_01", "name": "Ita Belt Alpha", "slug": "ita-belt-alpha", "system": "Pyro", "type": "belt" }
                  ],
                  "count": 120,
                  "attribution": "Data from celd.space / Strata Mining Tools"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "missing": {
                    "summary": "No key provided",
                    "value": { "error": "Missing API key. Send: Authorization: Bearer <key>" }
                  },
                  "invalid": {
                    "summary": "Key revoked or does not exist",
                    "value": { "error": "Invalid or revoked API key" }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": { "type": "integer", "example": 42 }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "error": "Rate limit exceeded (120/60s)" }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "error": "Internal error" }
              }
            }
          }
        }
      }
    },
    "/api/public/location-ores/{location}": {
      "get": {
        "operationId": "getLocationOres",
        "summary": "Get ores at a location",
        "description": "Returns all ores present at a given location with concentration and tier data, sorted by concentration descending.\n\nImportant: `concentration` is the ore's share of the total mining presence at this location (0.0 to 1.0). The `tier` and `tierName` values are absolute bands on that share, not a percentile or cross-location rank. A concentration of 0.30 and tier 6 (Pure) at an asteroid field means exactly the same thing as 0.30 and tier 6 on a moon surface. Values are directly comparable across all location types.",
        "tags": ["Location family"],
        "security": [
          { "bearerAuth": [] }
        ],
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "required": true,
            "description": "Location identifier. Either a canonical location id (e.g. `ita_01`) or a name slug (e.g. `ita-belt-alpha`). Canonical ids are always unambiguous. Enumerate valid ids via `GET /api/public/locations`.",
            "schema": {
              "type": "string",
              "example": "ita_01"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Location ore data retrieved successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LocationOresResponse" },
                "example": {
                  "location": { "id": "ita_01", "name": "Ita Belt Alpha", "system": "Pyro", "type": "belt" },
                  "ores": [
                    { "oreId": "beryl_raw", "name": "Beryl (Raw)", "concentration": 0.3511, "tier": 6, "tierName": "Pure", "scanSignature": 1350 },
                    { "oreId": "iron_ore", "name": "Iron (Ore)", "concentration": 0.12, "tier": 4, "tierName": "Notable", "scanSignature": 800 }
                  ],
                  "count": 2,
                  "attribution": "Data from celd.space / Strata Mining Tools"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "missing": {
                    "summary": "No key provided",
                    "value": { "error": "Missing API key. Send: Authorization: Bearer <key>" }
                  },
                  "invalid": {
                    "summary": "Key revoked or does not exist",
                    "value": { "error": "Invalid or revoked API key" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Location not found.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "error": "Unknown location",
                  "hint": "Use a location id or name slug from GET /api/public/locations."
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": { "type": "integer", "example": 42 }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "error": "Rate limit exceeded (120/60s)" }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "error": "Internal error" }
              }
            }
          }
        }
      }
    },
    "/api/public/items": {
      "get": {
        "operationId": "getItems",
        "summary": "List all craftable items",
        "description": "Returns all craftable items, sorted alphabetically by name. Use the returned `id` (entity GUID) as the `{item}` parameter in `/api/public/craft-cost/{item}`.\n\nThis endpoint returns only items that have a crafting recipe with at least one cost. It does not include shop-only items. Cache this response; it only changes on new game patches.",
        "tags": ["Crafting family"],
        "security": [
          { "bearerAuth": [] }
        ],
        "responses": {
          "200": {
            "description": "Item list retrieved successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ItemsResponse" },
                "example": {
                  "items": [
                    { "id": "akimbo_s01_white", "name": "Akimbo SMG (White)", "slug": "akimbo-smg-white", "category": "FPS Weapons" },
                    { "id": "iron_ore_helmet_s01", "name": "Iron Ore Helmet", "slug": "iron-ore-helmet", "category": "FPS Armor" }
                  ],
                  "count": 516,
                  "attribution": "Data from celd.space / Strata Mining Tools"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "missing": {
                    "summary": "No key provided",
                    "value": { "error": "Missing API key. Send: Authorization: Bearer <key>" }
                  },
                  "invalid": {
                    "summary": "Key revoked or does not exist",
                    "value": { "error": "Invalid or revoked API key" }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": { "type": "integer", "example": 42 }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "error": "Rate limit exceeded (120/60s)" }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "error": "Internal error" }
              }
            }
          }
        }
      }
    },
    "/api/public/craft-cost/{item}": {
      "get": {
        "operationId": "getCraftCost",
        "summary": "Get crafting cost for an item",
        "description": "Returns the material cost to craft a single item. The `{item}` parameter is the entity GUID from `/api/public/items`.\n\nNote the `unit` field on each cost: ship-mining ores use `SCU`; FPS and ground-vehicle ores use `gems` (item count, not SCU -- 1000 gems = 1 SCU). Never compare gem quantities to SCU quantities without converting.",
        "tags": ["Crafting family"],
        "security": [
          { "bearerAuth": [] }
        ],
        "parameters": [
          {
            "name": "item",
            "in": "path",
            "required": true,
            "description": "Item entity GUID from GET /api/public/items. Also accepts a name slug as a fallback, but slug collisions are common across hundreds of items; prefer the id.",
            "schema": {
              "type": "string",
              "example": "akimbo_s01_white"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Craft cost retrieved successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CraftCostResponse" },
                "example": {
                  "item": { "id": "akimbo_s01_white", "name": "Akimbo SMG (White)", "category": "FPS Weapons" },
                  "craftTime": 300,
                  "costs": [
                    { "material": "Iron (Ore)", "oreId": "iron_ore", "quantity": 3.0, "unit": "SCU", "minQuality": null },
                    { "material": "Beryl (Raw)", "oreId": "beryl_raw", "quantity": 1.5, "unit": "SCU", "minQuality": 500 }
                  ],
                  "attribution": "Data from celd.space / Strata Mining Tools"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "missing": {
                    "summary": "No key provided",
                    "value": { "error": "Missing API key. Send: Authorization: Bearer <key>" }
                  },
                  "invalid": {
                    "summary": "Key revoked or does not exist",
                    "value": { "error": "Invalid or revoked API key" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Item not found or not craftable.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "error": "Unknown item",
                  "hint": "Use an item id from GET /api/public/items."
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": { "type": "integer", "example": 42 }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "error": "Rate limit exceeded (120/60s)" }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "error": "Internal error" }
              }
            }
          }
        }
      }
    }
  }
}
